body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #121213;
  display: flex;
}

.container {
  width: 550px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #3a3a3c;
}

.header .menuIcon { 
  color: #4d4d4d;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  padding: 5px;
  z-index: 20;
}

.header .left {
  display: flex;
  flex: 1 1;
  padding: 4px;
}

.header .center {
  align-items: center;
  color: #d7dadc;
  flex: 10 1;
  font-size: 36px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .2rem;
}

.header .right {
  display: flex;
  padding: 4px;
  flex: 1 1;
  flex-direction: row;
  justify-content: flex-end;
}

.game {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 8.25 1;
  flex-direction: column;
}

.board {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 20vh;
  width: 27vh;
}

.boardRow {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.boardTile {
  border: 1px solid #3a3a3c;
  box-sizing: border-box;
  color: #d7dadc;
  display: inline-flex;
  font-size: 32px;
  font-weight: 700;
  height: 6vh;
  line-height: 1rem;
  padding: 1px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 6vh;
  align-items: center;
  justify-content: center;
}

.key {
  width: 20%;
  align-items: center;
  border-radius: 3px;
  color: #d7dadc;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(129, 131, 132);
  box-sizing: border-box;
  border: 0;
}

.keyboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.footer {
  color: #89898a;
  flex: 0.25 1;
}

#comingSoon {
  color: #d7dadc;
}

a {
  color: #d7dadc;
}